<!DOCTYPE html>
<html>
<head>
    <title> Signup Form</title>
</head>
<body>
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <form action="registration" method="GET">
             <button class="reg_button" type="submit" name="reg_button">Регістрація</button>
            </form>
            <p class="form_auth_block_head_text">Авторизація</p>
            <form class="form_auth_style" action="userPage" method="post">
                <p><label>Введите Ваш имейл</label></p>
                <p><input type="email" name="auth_email" minlength="6" maxlength="20" placeholder="Введите Ваш имейл" required></p>
                <p><label>Введите Ваш пароль</label></p>
                <p><input type="password" name="auth_pass" minlength="6" maxlength="20" placeholder="Введите пароль" required></p>
                <p><button class="form_auth_button" type="submit" name="form_auth_submit">Увійти</button></p>
            </form>
        </div>
    </div>
</body>
</html>